@import '~antd/dist/antd.css';

#root {
  height: 100%;
}

.logo {
  height: 31px;
  margin: 16px 0;
  float: left;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header{
  background: #fff;
  position: fixed;
  width: 100%;
}